* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "SF Pro Display", sans-serif;
}

body {
  line-height: 1;
  font-family: "SF Pro Display", sans-serif !important;
  overflow-x: hidden !important;
}

ol,
ul {
  list-style: none;
}

header,
nav,
section {
  display: block;
}

#header-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: auto;
  max-width: 1260px;
  margin: 0 115px;
  padding: 0 12px;
  border-bottom: 1px solid #d7eaff !important;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 13px;
}

#header-container1-txt {
  margin-right: 48px;
  vertical-align: middle;
  color: black;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "SF Pro Display", sans-serif;
}

#header-discord-btn {
  display: inline-block;
  padding: 6px 10px;
  align-items: center;
  vertical-align: middle;
  border-radius: 50rem !important;
  border: 1px solid transparent;
  text-align: center;
  color: #989ca2;
  background-color: rgba(152, 156, 162, 0.15);
  border-color: rgba(152, 156, 162, 0.15);
  cursor: pointer;
  transition: ease 0.2s;
  font-family: "SF PRO DISPLAY", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

#header-discord-btn:hover {
  color: black;
}

#header-container-img1 {
  margin-left: 5px;
}

#header-container2 {
  background-color: transparent;
  height: 64px;
  padding: 8px 0;
  display: flex;
  vertical-align: middle;
  align-items: center;
  max-width: 1296px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#header-nav-list {
  display: inline-flex !important;
  background-color: transparent;
  justify-content: center;
  vertical-align: middle;
  padding-left: 45px;
}

.nav-list {
  margin: 0 20px;
}

.nav-list a {
  text-decoration: none !important;
  color: black !important;
  font-family: "SF Pro Display", sans-serif;
  font-size: 15px;
}

.nav-list a:hover {
  color: #3597ff !important;
  transition: ease 0.2s;
}

#nav-button {
  padding: 18px 20px;
  font-size: 13px;
  background-color: #3597ff !important;
  border-color: #3597ff !important;
  border-radius: 6px;
  color: white !important;
  border: 0 solid transparent;
  margin-right: 30px;
  margin-left: auto;
  cursor: pointer;
  letter-spacing: 1px;
}

#nav-button a {
  text-decoration: none;
  color: white !important;
  font-family: "SF Pro Display", sans-serif;
}
#main-first-container {
  background-color: #3597ff !important;
  width: 100%;
  height: 440px !important;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#main-text-container1 {
  background-color: transparent;
  padding: 100px 130px;
  width: fit-content;
}

h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 1px;
  line-height: 1.2;
}

#main-container-img1 {
  left: 50%;
  bottom: 0;
  height: auto !important;
  width: auto !important;
  max-width: 50%;
  max-height: 100%;
}

b {
  font-weight: 900;
}

#main-o-divider {
  width: 482px;
  position: absolute;
  top: 330px;
  right: -241px;
  z-index: 99;
  user-select: none;
  pointer-events: none;
  overflow: hidden !important;
}

/* Prečo OpenLab? */

#main-why {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

#main-container-why {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#main-why-h1 {
  color: black !important;
  text-align: center;
  margin-bottom: 3rem;
}

#main-p {
  text-align: center;
  margin-right: 3rem !important;
  margin-left: 3rem !important;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #566b8d;
}

.main-h3 {
  font-size: 1.25rem;
  color: black;
  font-weight: 700;
}

.main-p-box {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #566b8d;
  width: 261px;
  font-size: 0.875rem;
  margin-top: 10px;
}
.main-box {
  width: 261px;
  height: 151px;
  background-color: transparent;
  border-radius: 5px;
  padding: 12px;
  padding-top: 68px;
}

#main-container-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-container-about img {
  margin-bottom: 20px;
}

/* Naša vízia v OpenLab */

#main-vision {
  display: flex;
  justify-content: center;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

#main-container-vision {
  display: flex;
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center !important;
}
#main-container-box3 {
  width: 50%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#main-container-box3 h3 {
  color: black;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

#main-container-box3 p {
  color: rgb(86, 107, 141);
  font-size: 16px !important;
  font-weight: 500;
  letter-spacing: 1;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

#main-p3-margin-bottom {
  margin-bottom: 1rem !important;
}

#main-container-box4 {
  width: 50%;
  display: flex !important;
  justify-content: flex-end !important;
  grid-template-columns: auto auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-wrap: wrap;
}

.box-grid1 {
  margin: 8px;
  padding: 16px 24px;
  width: 185px;
  height: 151px;
  border-radius: 4px;
}

.main-box-grid-h2 {
  font-size: 90px;
  text-align: right;
  font-weight: 700;
  font-family: "SF Pro Display", sans-serif;
}

.main-box-grid-h4 {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

/* colors for vision */
.color-blue {
  color: rgb(91, 148, 215);
}

.color-red {
  color: rgb(185, 94, 115);
}

.color-yellow {
  color: rgb(219, 202, 104);
}

.color-green {
  color: rgb(92, 193, 154);
}

.color-blue-bg {
  background: rgba(221, 236, 251, 0.4);
  color: rgb(91, 148, 215);
}

.color-red-bg {
  background: rgba(238, 156, 156, 0.4);
  color: rgb(185, 94, 115);
}

.color-yellow-bg {
  background: rgba(238, 226, 156, 0.4);
  color: rgb(219, 202, 104);
}

.color-green-bg {
  background: rgba(156, 238, 204, 0.4);
  color: rgb(92, 193, 154);
}

#main-labs-info{
padding-top: 3rem!important;
padding-bottom: 3rem!important;
}

#main-container-labs-info {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
  max-width: 1320px;
  width: 100%;
padding-right: .75rem;
padding-left: .75rem;
margin-right: auto;
margin-left: auto;
display: flex;
flex-wrap: wrap;
align-items: center!important;
}

#labs-info-txt {
  width: 30%;
  flex: 0 0 auto;
  margin-bottom: 0 !important;
  padding-right: .75rem;
  padding-left: .75rem;
}

#labs-info-txt h1{
  font-size: 2.5rem;
  font-family: "SF Pro Display", sans-serif;
  margin-bottom: 0 !important;
  margin-top: 0;
  color: black !important;
  font-weight: 300!important;
  overflow-wrap: break-word;
}

#main-container-labs-info-boxcontainer1{
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  width: 60%;
  padding-right: .75rem;
  padding-left: .75rem;
  box-sizing: border-box;
}

.main-boxcontainer-4 h3{
  color: black;
  font-size: 20px;
  margin-bottom: 5px;
}

.main-boxcontainer-4 p{
  max-width: 160px;
}

.main-boxcontainer-4 img{
  margin-top: 50px;
  margin-bottom: 30px;
}

.main-boxcontainer-4{
  padding: 25px 40px;
  padding-bottom: 0px !important;
  max-height: 282px;
  height: auto;
  max-width: 240px;
  width: auto;
  border-radius: 5px;
  margin: 4px;
  text-align: left;
  color: #566b8d;
  font-size: 14px !important;
  letter-spacing: 1px;
  line-height: 1.5;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.main-boxcontainer-hoverable:hover{
  transition: 0.2s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}